body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

.appDiv {
    margin-top: 20px;
}

.button {
    background-color: #f07452;
}

.searchBarSubmit {
    background-color:  #f07452;
}

.react-autosuggest__container ul{
    list-style-type: none;
}

.Select-control {
    margin-bottom: 17px;
}

.optionsDisplayDiv {
    border-top: solid gray 1px;
    margin-top: 22px; 
}

.optionsDisplaySpacer {
    height: 35px;
}

.optionsDisplayFormInfo {
    display: inline-block;
    margin-left: 17px;
}

.optionsDisplaySubmit{
    width: 40px;
    padding: 0px;
}

